<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gulp Ejs</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div class="container">
    <%- include('components/header') %>
    <%- include('components/aside') %>
    <%- include('components/main') %>
    <%- include('components/footer') %>
  </div>
</body>
</html>
