header {
  background-color: #cf4646;
  padding: 20px 0;
}

hgroup {
  text-align: center;

  > h1 {
    > img {
      width: 200px;
    }
  }

  > h2 {
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
  }
}
